name: Build and test

on: [push]

env:
  node_version: 18

jobs:
  check_version:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - name: Semantic release (dry run)
        id: semrel
        run: npx semantic-release --dry-run --debug --branches ${{ github.ref_name }}
      - name: Report version
        uses: LouisBrunner/checks-action@v1.1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Next expected version ${{ steps.semrel.outputs.nextVersion }}
          conclusion: neutral

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.node_version }}
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Debug (build)
        run: echo "Building..."
  
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.node_version }}
      - name: Debug (test)
        run: echo "Testing..."
